/* This file is for your main application css. */

@import '../node_modules/react-toastify/dist/ReactToastify.css';

#root {
  font-family: Helvetica;
  max-width: 1200px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-left-1 {
  margin-left: 8px;
}

.ideas {
  font-size: 1.5rem;
}

.ideas li {
  margin-bottom: 8px;
}

.votes {
  display: flex;
  font-size: 1rem;
  padding-left: 8px;
}

.votes li {
  list-style: none;
  padding-left: 8px;
}

.votes li:not(:last-child)::after {
  content: ", ";
}

.results p {
  font-size: 1.5rem;
}

.results ul {
  list-style: none;
  padding-left: 0;
}
